.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.navBar > ul {
  display: flex;
  column-gap: 2rem;
  list-style: none;
}
.navBar button {
  font-size: 1em;
  border: none;
  background-color: transparent;
}
.navBar button:hover {
  cursor: pointer;
  text-decoration: underline;
}
